.ayah-editor__popup {
  border: 1px solid #0003;
  border-radius: 10px;
  position: fixed;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  /* height: 20vh; */
  margin: auto;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 4rem 2rem;
}

.ayah-editor__title {
  color: black;
}

.react-player {
  display: none;
}

.ayahPlayer {
  width: 100%;
}

.ayahPlayer .audioslider {
  display: block;
  width: 70%;

  margin-left: auto;
  margin-right: auto;
}

.slider {
  display: block;
}

.markerdiv {
  width: 69%;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;

  position: relative;
}

.marker {
  /* width: 3px; */
  /* height: 30px; */
  background-color: red;
  color: white;
  border-radius: 8px;
  padding: 2px;
  font-size: 1.3rem;
  position: absolute;
  left: 100%;
}

.form-group {
  margin-bottom: 3.2rem;
}

.form-group .form-label {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 1.2rem;
  font-weight: 600;
  color: #4d4d4d;
  height: 2.5rem;
}

.form-group .form-list {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 0 2.4rem;
  color: #000;
  font-weight: 500;
  margin-right: 1rem;
}

.form-group .form-list:focus {
  border: 1px solid #e1e1e1;
  outline: none;
}

.form-group .form-list-item {
  font-size: 1.6rem;
  color: black;
  padding: 0.6rem 1rem;
}

.form-group input {
  width: 8.4rem;
  height: 5rem;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 0 2.4rem;
  color: #000;
  /* font-weight: 600; */
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 10px;
  border: 1px solid #dfdfdf;
  /* font-size: 1.5rem; */
}

.form-group select {
  font-size: 1.3rem;
  color: red;
}

select {
  width: 20.5rem;
  height: 5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}

input[type="range"] {
  padding: 0;
  border: none;
  outline: none;
}
